<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
    <link rel="stylesheet" href="{% static '/blog/css/styles.css' %}">
</head>

<body>
    <div class="hero-section"> 
        <!-- <video autoplay muted loop class="hero-video">
            <source src="{% static 'blog/videos/4307fa94-4948-4d49-b813-65661e7574bb.mp4' %}" type="video/mp4"> Your browser does not support the video tag.
        </video> -->
        
        <div class="hero-overlay">
            <h1>Welcome to Our Project</h1>
        </div>
    </div>
    <h1>Posts list</h1>
    {% for post in object_list %}
    <h2>{{post.title}}</h2>
    <P>{{post.content}}</P>
    <p>{{post.excerpt}}</p>
    <p>Author: {{post.author}}</p>
    {% endfor %}
</body>

</html>